$xs:14px;
$s:16px;
$m:24px;
$l:32px;
$xl:48px;

$normal:400;
$bold:500;
$bolder:600;


$blue:blue;
$lightBlue: #0091FF;
$green:green;
$gray:#555;
$black:black;
$black-bg :#1e1e2d; //side menu background color

$red:red;
$pink:pink;
$orange:#fa8e42;

