<div class="login-sec">
  <div class="signin_container2">
    <div class="signin_box2">
      <div class>
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
          <div class="zoho_logo ZohoHome"></div>
          <div class="signin_head">
            <div class="service_name">
              <span>
                Change password
              </span>
            </div>
            <div class="my-5 valid-text">
              <span *ngIf="showSection1">Password updated successfully!</span>
            </div>
          </div>
<!-- New Password Section-->
          <ng-container class="form-group mt-5 p-field">
            <label for="newpassword" class="flex"> New password </label>
            <input type="password"  class="outline-none text-lg w-full" formControlName="newpassword"
              [ngClass]="{'invalid-border': passwordFormControl['newpassword'].invalid && passwordFormControl['newpassword'].touched && passwordFormControl['newpassword'].errors?.['required'] }"
              [ngClass]="{'invalid-border': passwordFormControl['newpassword'].errors  && submitted }"
              [ngClass]="{'invalid-border': passwordFormControl['newpassword'].errors?.['required']}"
              [ngClass]="{'invalid-border': passwordFormControl['newpassword'].errors?.['pattern']}"
              [ngClass]="{'valid-border': passwordFormControl['newpassword'].valid }"
            >
            <div class="my-3 invalid-text">
              <span *ngIf="passwordForm.controls['newpassword'].errors?.['minlength']">
                Password must be at least 8 characters of length.
                <br />
              </span>

              <span *ngIf="passwordFormControl['newpassword'].hasError('pattern')">
                <!-- Password must contain at least one uppercase, one lowercase, one
                numeric digit and one special character. -->
              </span>
            </div>
          </ng-container>
<!-- Retype Password Section -->
          <ng-container class="form-group mt-5 p-field">
            <label for="repassword" class="flex"> Confirm password </label>
               <input type="password"  class="outline-none text-lg w-full" formControlName="repassword"
               [ngClass]="{'invalid-border':passwordFormControl['repassword'].errors?.['required'] && submitted  }"
               [ngClass]="{'invalid-border':passwordFormControl['repassword'].invalid && passwordFormControl['repassword'].touched }"
               [ngClass]="{'valid-border': passwordFormControl['repassword'].valid }"
            >
            <div class="my-3 invalid-text">
              <div *ngIf="
                  passwordFormControl['newpassword'].errors?.['required'] &&  ( passwordFormControl['repassword'].touched || submitted ) ||
                  passwordFormControl['repassword'].errors?.['required'] &&  ( passwordFormControl['repassword'].touched || submitted )
                ">
                  Field cannot be empty
              </div>
              <div *ngIf="!passwordFormControl['newpassword'].errors?.['required'] &&
              !passwordFormControl['repassword'].errors?.['required']">
              <span *ngIf="
                  (passwordFormControl['repassword'].touched || submitted) &&
                  passwordFormControl['repassword'].invalid"
                >Password did not match
              </span>
              </div>
            </div>
          </ng-container>
<!-- Submit Button -->

<div class="d-grid gap-2 pt-3">
  <button class="tw_btn-login" type="button" type="submit"> Reset Password</button>
</div>
          <!-- <ng-container class="d-grid gap-2 mt-5">
            <button class="tw_btn-login" type="button" type="submit"> Reset Password </button>
          </ng-container> -->
        </form>
      </div>
    </div>
  </div>
</div>
