<!-- <div class="grid">
  <div class="sm:col-2 lg:col-2 md:col-2" style="background: red;">3</div>
  <div class="sm:col-8 lg:col-8 md:col-8" style="background: green;">6</div>
  <div class="sm:col-2 lg:col-2 md:col-2" style="background: red;">3</div>
</div>
<div class="grid">
  <div class="sm:col-2 lg:col-2 " style="background: blue;">lg sm 3</div>
  <div class="sm:col-8 lg:col-8 " style="background: yellow;"> lg sm 6</div>
  <div class="sm:col-2 lg:col-2 " style="background: blue;">lg 3</div>
</div>
<div class="grid">
  <div class="sm:col-2  " style="background: green;"> sm 3</div>
  <div class="sm:col-8  " style="background: blue;"> sm 6</div>
  <div class="sm:col-2  " style="background: green;"> sm 3</div>
</div> -->
<div class="grid">
  <div class="md:col-6 sm:col-6">A</div>
  <div class="md:col-6 sm-col-6">B</div>
  <!-- <div class="col-12 md:col-6 lg:col-3">B</div>
  <div class="col-12 md:col-6 lg:col-3">C</div>
  <div class="col-12 md:col-6 lg:col-3">D</div> -->
</div>

